@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);


html {
  height: 100%;
  width: 100%;
  background-color: #777;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-attachment: fixed;        
}

body {
  padding-top: 60px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e74141;
  color: white;
  padding: 20px 25px 30px;
  height: 100px;
  margin: 0px auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header:before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  margin-top: -20px;
  width: 50%;
  height: 100px;
  background-color: #e74141;
}

nav li {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'fireye_gf_3lite';*/
  font-family: 'Comfortaa', serif;
  line-height: 100%;
}

p, span, a {
  font-family: 'Ubuntu Condensed';
}

h1 {
  letter-spacing: 20px;
  margin-right: -20px;
}

h2 {
  letter-spacing: 0px;
  margin-right: -0px;
}

article {
  margin: 30px auto 0px; 
  background-color: white;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: black;
  font-family: serif;

	border: 3px solid #E74141;
	border-bottom-width: 6px;
	border-top-width: 2px;
}

/*article:before {
  content: '';
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 100%;
  left:0;
  height: 1px;
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}*/

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
	font-size: 16px;
	font-weight: normal;
}

.clearfix {
  clear: both;
}

/*@media all and (min-width: 800px) {*/
  html {
    /*background-image: url('images/bg.gif');*/
  }
/*}*/

/*@media all and (max-width: 799px) {*/
  html {
    background-image: url('images/bg_small.gif');
  }
/*}*/

@media all and (min-width: 800px) {
  header {
    width: 70%;
    max-width: 800px;
    text-align: right;
  }
  article {
    width: 70%;
    max-width: 800px;
  }
}

@media all and (max-width: 799px) {
  header {
    width: 100%;
    text-align: center;
  }
  article {
    width: 80%;
  }
}


@media all and (max-width: 599px) {
	header h1 {
		font-size: 25px;
	}

	body {
		padding-top: 20px;
	}

	article {
		margin-top: 20px;
	}

	header, header:before {
		height: 88px;
	}
}