@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


html {
  height: 100%;
  width: 100%;
  background-color: #777;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.clearfix {
  clear: both;
}

body {
  padding-top: 60px;
  padding-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e74141;
  color: white;
  padding: 20px 25px 30px;
  height: 100px;
  margin: 0px auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header:before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  margin-top: -20px;
  width: 50%;
  height: 100px;
  background-color: #e74141;
}

header nav li {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

header nav a {
	color: white;
	text-decoration: none;
}

header nav a:hover {
	color: white;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'fireye_gf_3lite';*/
  font-family: 'Comfortaa', serif;
  line-height: 100%;
  margin-bottom: 15px;
}

p, span, a, time {
  font-family: 'Open Sans';
}

header h1 {
  font-size: 30px;
  letter-spacing: 20px;
  margin-right: -20px;
  margin-bottom: 0;
}

h2, h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 0px;
  text-align: left;
}

h2 {
  letter-spacing: 5px;
  font-size: 28px;
}

h3 {
  font-size: 22px;
  letter-spacing: 5px;
}

article h1 {
  font-size: 32px;
  letter-spacing: 10px;
  text-align: center;
}

article, main nav {
  margin: 30px auto 0px; 
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

main nav a {
  text-align: center;
  display: block;
  background-color: white;
  padding: 20px;
  width: 40px;
  color: black;
  text-decoration: none;
}

main nav a:hover {
  color: white;
  background-color: #e74141;
}

main nav a.next {
  float: right;
}

main nav a.back {
  float: left;
}

main nav::after {
  clear: both;
}

article {
  background-color: white;
  padding: 20px;
  border-top: 20px solid #e74141;
}

article.with-cover {
  min-height: 220px;
}

article p {
	font-size: 16px;
	font-weight: normal;
	text-align: justify;
	margin-bottom: 16px;
}

article p:last-of-type {
	margin-bottom: 0;
}

article a.read-more-link {
  text-align: right;
}
article a.go-back-link {
  text-align: left;
}

article a.read-more-link, article a.go-back-link {
  display: block;
  color: #555;
  text-decoration: none;
  margin-top: 10px;
}

article a.read-more-link:hover, article a.go-back-link:hover {
  color: #777;
  text-decoration: underline;
}

article figure {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  /*background-attachment: fixed;*/
}

article time {
  position: absolute;
  top: -20px;
  left: 4px;
  font-size: 14px;
  display: block;
  color: white;
}

article.main-article figure {
	width: 200px;
	height: 200px;
  float: right; 
  clear: right; 
	margin: 0px 0px 20px 20px;
}

.clearfix {
  clear: both;
}

html {
  background-image: url('images/bg_small.jpg');
}


.logo {
  float: right;
  margin-left: 25px;
}

@media all and (min-width: 800px) {

	
  header {
    width: 80%;
    max-width: 800px;
    text-align: right;
  }

  article, main nav {
    width: 80%;
    max-width: 800px;
  }

  article.with-cover:nth-child(even) {
	  padding-left: 220px;
  }

  article.with-cover:nth-child(odd) {
	  padding-right: 220px;
  }

	article.index-article figure {
		position: absolute;
    height: 100%;
		top: 0;
		bottom: 0;
    width: 200px;
	}

	article.index-article:nth-child(even) figure {
		left: 0;
	}
	
	article.index-article:nth-child(odd) figure {
		right: 0;
	}

}

@media all and (max-width: 799px) {
  header {
    width: 100%;
    text-align: center;
  }
  article, main nav {
    width: 80%;
  }

	article.index-article figure {
		width: 100px;
    height: 160px;
    float: left; 
    clear: left; 
		margin: 0px 20px 20px 0px;
	}

  .logo {
    width: 100px;
  }
}


@media all and (max-width: 599px) {
	header h1 {
		font-size: 25px;
    letter-spacing: 15px;
	}

	body {
		padding-top: 20px;
	}

	article, main nav {
		margin-top: 20px;
	}

	header, header:before {
		height: 88px;
	}

  article.main-article figure {
    width: 100px;
    height: 100px;
    float: right; 
    clear: right; 
    margin: 0px 0px 20px 20px;
  }
}
